<h1><%= "Cancel Premium Subscription" %></h1>
<h2><%= "Note: All your Private Wikis will become public." %></h2>

  <div class="row">
    <div class="col-md-4">
      <%= f.submit "Revert to Standard", class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
